@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* || Root Properties || */

:root {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan-one: hsl(186, 14%, 43%);
    --dark-grayish-cyan-two: hsl(184, 14%, 56%);
    --light-grayish-cyan-one: hsl(185, 41%, 84%);
    --light-grayish-cyan-two: hsl(189, 41%, 97%);
    --white-custom: hsl(0, 0%, 100%);
}


/* || Element Properties || */

body {
    margin: 0;
    background-color: var(--light-grayish-cyan-one);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.gen-input {
    width: 95%;
    height: 20px;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    color: var(--very-dark-cyan);
    background-color: var(--light-grayish-cyan-two);
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: right;
}

p {
    margin: 0;
}

/* || IDs & Classes || */

#calc-container {
    display: flex;
    background-color: var(--white-custom);
    width: 860px;
    border-radius: 25px;
    justify-content: center;
    margin-top: 75px;
}

.inner-box {
    padding: 15px 0px 15px 15px;
    border-radius: 15px;
}

.inner-box-left {
    width: 42%;
    margin: 30px 20px 30px 30px;
}

.inner-box-right {
    width: 58%;
    margin: 30px 30px 30px 20px;
}


#tip-output-container {
    background-color: var(--very-dark-cyan);
}

.icon {
    position: absolute;
    padding-top: 11px;
    padding-left: 20px;
}

.head-labels {
    font-size: 0.6rem;
    font-weight: 700;
    color: var(--dark-grayish-cyan-one);
    padding-bottom: 5px;
}

.bot-margin {
    margin-bottom: 30px;
}

#tip-percentage-container {
    display: grid;
    grid-template-columns: 120px 120px 120px;
}

.tip-box {
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    font-weight: 700;
}

.colored-box {
    background-color: var(--very-dark-cyan);
    color: var(--white-custom);
}

.gray-box {
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--light-grayish-cyan-two);
    color: var(--dark-grayish-cyan-one);
    text-align: center;
    font-weight: 700;
    padding: 0px;
    font-size: 1rem;
    font-family: "Space Mono", monospace;
}

.gray-box::placeholder {
    color: var(--dark-grayish-cyan-one);
    opacity: 1;
}

.left-button {
    margin: 5px 5px 5px 0px;
}

.center-button {
    margin: 5px 5px 5px 5px;
}

.right-button {
    margin: 5px 0px 5px 5px;
}

/* || Tip Output || */

#tip-output-container {
    padding: 50px 40px 35px 40px;
    display: flex;
    flex-direction: column;
}

#tip-amount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#tip-per-person {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.head-labels-output {
    font-size: 0.6rem;
    font-weight: 700;
    color: var(--white-custom);
    padding-bottom: 5px;
}

.head-labels-sub {
    font-size: 0.5rem;
    font-weight: 700;
    color: var(--dark-grayish-cyan-two);
}

.output {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--strong-cyan);
}

#reset {
    margin-top: auto;
}