@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* || Root Properties || */

:root {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan-one: hsl(186, 14%, 43%);
    --dark-grayish-cyan-two: hsl(184, 14%, 56%);
    --light-grayish-cyan-one: hsl(185, 41%, 84%);
    --light-grayish-cyan-two: hsl(189, 41%, 97%);
    --white-custom: hsl(0, 0%, 100%);
}


/* || Element Properties || */

body {
    margin: 0;
    background-color: var(--light-grayish-cyan-one);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

input {
    width: 100%;
    height: 20px;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    color: var(--very-dark-cyan);
    background-color: var(--light-grayish-cyan-two);
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: right;
}

p {
    margin: 0;
}

/* || IDs & Classes || */

#calc-container {
    display: flex;
    background-color: var(--white-custom);
    width: 920px;
    border-radius: 25px;
    justify-content: center;
    margin-top: 75px;
}

.inner-box {
    width: 100%;
    margin: 30px;
    padding: 15px;
    border-radius: 15px;
}

#tip-output-container {
    background-color: var(--very-dark-cyan);
}

.icon {
    position: absolute;
    padding-top: 11px;
    padding-left: 20px;
}

.head-labels {
    font-size: 0.6rem;
    font-weight: 700;
    color: var(--dark-grayish-cyan-one);
    padding-bottom: 5px;
}

.bot-margin {
    margin-bottom: 30px;
}